@import '/src/_mixins.scss';

@include correct-search-criteria;
@include danger-action;
@include table-inline-buttons;

:host ::ng-deep {
  // responsive table result view
  @media screen and (min-width: 576px) {
    .sm\:table-cell {
      display: table-cell !important;
    }
  }
  @media screen and (min-width: 768px) {
    .md\:table-cell {
      display: table-cell !important;
    }
  }
  @media screen and (min-width: 992px) {
    .lg\:table-cell {
      display: table-cell !important;
    }
  }
  @media screen and (min-width: 1200px) {
    .xl\:table-cell {
      display: table-cell !important;
    }
  }
}
