<ocx-portal-page
  *ngIf="{ value: allMetaData$ | async } as allMetaData"
  permission="ANNOUNCEMENT#SEARCH"
  helpArticleId="PAGE_ANNOUNCEMENT_SEARCH"
>
  <app-announcement-criteria
    *ngIf="allCriteriaLists$ | async as allCriteriaLists"
    [actions]="(actions$ | async) ?? []"
    [products]="allCriteriaLists.products"
    [workspaces]="allCriteriaLists.workspaces"
    (criteriaEmitter)="onSearch($event)"
    (resetSearchEmitter)="onCriteriaReset()"
  ></app-announcement-criteria>

  <ocx-page-content *ngIf="announcements$ | async as announcements" styleClass="px-3 pb-2">
    <p-message
      *ngIf="searchInProgress"
      severity="info"
      styleClass="my-3 p-2"
      [text]="'ACTIONS.SEARCH.IN_PROGRESS' | translate"
    ></p-message>
    <p-table
      *ngIf="!searchInProgress"
      #announcementTable
      id="am_announcement_search_table"
      [value]="announcements"
      [columns]="filteredColumns"
      styleClass="p-datatable-striped"
      dataKey="id"
      [globalFilterFields]="['title', 'workspaceName']"
      [reorderableColumns]="false"
      [paginator]="true"
      [alwaysShowPaginator]="true"
      paginatorPosition="bottom"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 100]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
    >
      <ng-template pTemplate="caption">
        <ocx-data-view-controls
          [supportedViews]="['table']"
          [enableFiltering]="true"
          [enableSorting]="false"
          [columnDefinitions]="columns"
          (columnsChange)="onColumnsChange($event)"
          (filterChange)="onFilterChange($event)"
          [filterColumns]="['ANNOUNCEMENT.TITLE' | translate, 'ANNOUNCEMENT.WORKSPACE' | translate]"
        ></ocx-data-view-controls>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td id="am_announcement_search_table_emptymessage" colspan="16">
            {{ 'ACTIONS.SEARCH.NO_DATA' | translate }}
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>
          <th id="am_announcement_search_table_header_actions" class="text-center white-space-nowrap">
            {{ 'ACTIONS.SEARCH.ACTIONS' | translate }}
          </th>
          <th
            *ngFor="let col of columns"
            [id]="'am_announcement_search_table_header_col_' + col.field"
            [class]="col.css + ' text-center white-space-nowrap'"
            [pSortableColumn]="col.field"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.' + col.header | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            <span> {{ col.translationPrefix + '.' + col.header | translate }}</span>
            <p-sortIcon [field]="col.field"></p-sortIcon>
            <p-columnFilter *ngIf="col.hasFilter" type="text" [field]="col.field" display="menu"></p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-row="rowIndex" let-rowData let-columns="columns">
        <tr [pSelectableRow]="announcements">
          <td class="px-2 text-center white-space-nowrap">
            <ng-container *ocxIfNotPermission="'ANNOUNCEMENT#EDIT'">
              <button
                pbutton
                *ocxIfPermission="'ANNOUNCEMENT#VIEW'"
                class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
                [id]="'am_announcement_search_table_row_' + row + '_view_action'"
                (click)="onDetail($event, rowData, 'VIEW')"
                [aria-label]="'ACTIONS.VIEW.LABEL' | translate"
                [pTooltip]="'ACTIONS.VIEW.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="text-primary font-medium p-button-icon pi pi-eye"></span>
              </button>
            </ng-container>
            <button
              pbutton
              *ocxIfPermission="'ANNOUNCEMENT#EDIT'"
              class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
              [id]="'am_announcement_search_table_row_' + row + '_edit_action'"
              (click)="onDetail($event, rowData, 'EDIT')"
              [aria-label]="'ACTIONS.EDIT.LABEL' | translate"
              [pTooltip]="'ACTIONS.EDIT.ANNOUNCEMENT.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span class="text-primary font-medium p-button-icon pi pi-pencil"></span>
            </button>

            <button
              pbutton
              *ocxIfPermission="'ANNOUNCEMENT#EDIT'"
              class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
              [id]="'am_announcement_search_table_row_' + row + '_copy_action'"
              (click)="onCopy($event, rowData)"
              [aria-label]="'ACTIONS.COPY.LABEL' | translate"
              [pTooltip]="'ACTIONS.COPY.ANNOUNCEMENT.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span class="text-primary font-medium p-button-icon pi pi-copy"></span>
            </button>
            <button
              pbutton
              type="button"
              *ocxIfPermission="'ANNOUNCEMENT#DELETE'"
              class="p-button-rounded font-medium p-button-text p-button p-component p-button-icon-only"
              [id]="'am_announcement_search_table_row_' + row + '_delete_action'"
              (click)="onDelete($event, rowData)"
              [aria-label]="'ACTIONS.DELETE.LABEL' | translate"
              [pTooltip]="'ACTIONS.DELETE.ANNOUNCEMENT.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span class="danger-action-text font-medium p-button-icon pi pi-trash"></span>
            </button>
          </td>
          <td *ngFor="let col of columns" [class]="col.css" id="am_announcement_type">
            <ng-container *ngIf="col.limit"> {{ limitText(rowData[col.field], 50) }} </ng-container>
            <ng-container *ngIf="col.isDate"> {{ rowData[col.field] | date: dateFormat }} </ng-container>
            <ng-container *ngIf="col.isDropdown">
              {{ 'ENUMS.ANNOUNCEMENT_' + col.header + '.' + rowData[col.field] | translate }}
            </ng-container>

            <ng-container *ngIf="col.field === 'status'">
              <span
                class="pi"
                [class.pi-circle-on]="rowData[col.field] === 'ACTIVE'"
                [class.pi-circle-off]="rowData[col.field] === 'INACTIVE'"
                [class.pi-circle-off]="rowData[col.field] === 'INACTIVE'"
                [class.text-red-600]="rowData['priority'] === 'IMPORTANT'"
                [class.text-yellow-600]="rowData['priority'] === 'NORMAL'"
                [class.text-blue-600]="rowData['priority'] === 'LOW'"
                [aria-label]="'ENUMS.ANNOUNCEMENT_STATUS.' + rowData[col.field] | translate"
                [pTooltip]="
                  ('ENUMS.ANNOUNCEMENT_STATUS.' + rowData[col.field] | translate) +
                  ' - ' +
                  ('ENUMS.ANNOUNCEMENT_PRIORITY.' + rowData['priority'] | translate)
                "
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </ng-container>
            <ng-container *ngIf="col.field === 'type'">
              <span
                class="pi text-xl"
                [class.pi-info-circle]="rowData[col.field] === 'INFO'"
                [class.pi-calendar]="rowData[col.field] === 'EVENT'"
                [class.pi-wrench]="rowData[col.field] === 'SYSTEM_MAINTENANCE'"
                [aria-label]="'ENUMS.ANNOUNCEMENT_TYPE.' + rowData[col.field] | translate"
                [pTooltip]="'ENUMS.ANNOUNCEMENT_TYPE.' + rowData[col.field] | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
            </ng-container>

            <ng-container *ngIf="col.field === 'workspaceName' && isWorkspace(rowData.workspaceName)">
              {{ getDisplayNameWorkspace(rowData[col.field]) }}
            </ng-container>
            <ng-container *ngIf="col.field === 'workspaceName' && !isWorkspace(rowData.workspaceName)">
              {{ getTranslationKeyForNonExistingWorkspaces(rowData.workspaceName) | translate }}
            </ng-container>
            <ng-container *ngIf="col.field === 'productName' && !rowData.productName">
              {{ 'ANNOUNCEMENT.EVERY_PRODUCT' | translate }}
            </ng-container>
            <ng-container *ngIf="col.field === 'productName'">
              {{ getDisplayNameProduct(rowData[col.field]) }}
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ocx-page-content>
</ocx-portal-page>

<!-- DELETE -->
<p-dialog
  [header]="'ACTIONS.DELETE.ANNOUNCEMENT' | translate"
  [(visible)]="displayDeleteDialog"
  [modal]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '500px' }"
>
  <div class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text"></div>
    <div class="flex flex-column row-gap-2">
      <div id="am_announcement_delete_message_text" class="font-bold">
        {{ 'ACTIONS.DELETE.MESSAGE_TEXT' | translate }}
      </div>
      <div id="am_announcement_delete_announcement_title" class="px-5 text-center danger-action-text">
        {{ announcement?.title }}
      </div>
      <div>{{ 'ACTIONS.DELETE.MESSAGE_INFO' | translate }}</div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="am_announcement_delete_button_no"
        icon="pi pi-times"
        (onClick)="displayDeleteDialog = false"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="am_announcement_delete_button_yes"
        icon="pi pi-check"
        (onClick)="onDeleteConfirmation()"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- DETAIL -->
<app-announcement-detail
  [displayDetailDialog]="displayDetailDialog"
  (hideDialogAndChanged)="onCloseDetail($event)"
  [announcement]="announcement"
  [allWorkspaces]="allWorkspaces"
  [allProducts]="allProducts"
  [changeMode]="changeMode"
></app-announcement-detail>
