<ocx-portal-page
  *ngIf="metaData$ | async as metaData"
  permission="ANNOUNCEMENT#SEARCH"
  helpArticleId="PAGE_ANNOUNCEMENT_SEARCH"
>
  <!-- declare slot to get data from product store -->
  <ocx-slot
    *ngIf="pdIsComponentDefined$ | async"
    [name]="pdSlotName"
    [inputs]="{ dataType: 'products', logEnabled: false, logPrefix: 'announcement' }"
    [outputs]="{ products: pdSlotEmitter }"
  >
  </ocx-slot>
  <!-- declare slot to get data from workspace -->
  <ocx-slot
    *ngIf="wdIsComponentDefined$ | async"
    [name]="wdSlotName"
    [inputs]="{ dataType: 'workspaces', logEnabled: false, logPrefix: 'announcement' }"
    [outputs]="{ workspaces: wdSlotEmitter }"
  >
  </ocx-slot>
  <app-announcement-criteria
    [actions]="(actions$ | async) ?? []"
    [usedProducts]="metaData.usedProducts ?? []"
    [usedWorkspaces]="metaData.usedWorkspaces ?? []"
    (searchEmitter)="onSearch($event.announcementSearchCriteria)"
    (resetSearchEmitter)="onCriteriaReset()"
  ></app-announcement-criteria>

  <ocx-page-content>
    <p-message
      *ngIf="loadingMetaData"
      id="am_search_message_loading"
      severity="info"
      styleClass="m-3 p-2"
      [text]="'ACTIONS.LOADING' | translate"
    ></p-message>
    <p-message
      *ngIf="exceptionKey"
      id="am_search_message_error"
      severity="error"
      styleClass="m-3 p-2"
      [text]="exceptionKey | translate"
    ></p-message>

    <ng-container *ngIf="data$ | async as data">
      <p-message
        *ngIf="searching"
        id="am_search_message_searching"
        severity="info"
        styleClass="m-3 p-2"
        [text]="'ACTIONS.SEARCH.IN_PROGRESS' | translate"
      ></p-message>
      <p-table
        *ngIf="!(searching || exceptionKey)"
        #dataTable
        id="am_search_table"
        styleClass="mx-3 mb-2"
        [value]="data"
        [columns]="filteredColumns"
        dataKey="id"
        [globalFilterFields]="['title', 'workspaceName', 'productName']"
        [reorderableColumns]="false"
        [scrollable]="true"
        scrollHeight="590px"
        [rows]="10"
        [rowsPerPageOptions]="[10, 30, 100]"
        [paginator]="true"
        [alwaysShowPaginator]="true"
        paginatorPosition="bottom"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
      >
        <ng-template pTemplate="caption">
          <ocx-data-view-controls
            [supportedViews]="['table']"
            [enableFiltering]="true"
            [enableSorting]="false"
            [columnDefinitions]="columns"
            (columnsChange)="onColumnsChange($event)"
            (filterChange)="onFilterChange($event, dataTable)"
            [translations]="dataViewControlsTranslations"
          ></ocx-data-view-controls>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td id="am_search_table_emptymessage" colspan="16">{{ 'ACTIONS.SEARCH.NO_DATA' | translate }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pFrozenColumn id="am_search_table_header_actions" class="border-right-1 text-center white-space-nowrap">
              {{ 'ACTIONS.LABEL' | translate }}
            </th>
            <th
              *ngFor="let col of columns"
              [id]="'am_search_table_header_col_' + col.field"
              [class]="col.css + ' white-space-nowrap'"
              [pSortableColumn]="col.field"
              [attr.aria-label]="'ANNOUNCEMENT.TOOLTIPS.' + col.header | translate"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.' + col.header | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              <span>{{ col.translationPrefix + '.' + col.header | translate }}</span>
              <p-sortIcon [field]="col.field"></p-sortIcon>
              <p-columnFilter *ngIf="col.hasFilter" type="text" [field]="col.field" display="menu"></p-columnFilter>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
          <tr [pSelectableRow]="data">
            <!-- actions -->
            <td pFrozenColumn class="align-items-center border-right-1 text-center white-space-nowrap">
              <ng-container *ocxIfNotPermission="'ANNOUNCEMENT#EDIT'">
                <a
                  *ocxIfPermission="'ANNOUNCEMENT#VIEW'"
                  tabindex="0"
                  class="p-2 text-primary font-medium cursor-pointer border-circle"
                  [id]="'am_search_table_row_' + i + '_action_view'"
                  (click)="onDetail('VIEW', rowData, $event)"
                  (keydown.enter)="onDetail('VIEW', rowData, $event)"
                  (keydown.space)="onDetail('VIEW', rowData, $event)"
                  [attr.aria-label]="'ACTIONS.VIEW.LABEL' | translate"
                  [pTooltip]="'ACTIONS.VIEW.LABEL' | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  <span class="pi pi-eye" aria-hidden="true"></span>
                </a>
              </ng-container>
              <a
                *ocxIfPermission="'ANNOUNCEMENT#EDIT'"
                tabindex="0"
                class="p-2 text-primary font-medium cursor-pointer border-circle"
                [id]="'am_search_table_row_' + i + '_action_edit'"
                (click)="onDetail('EDIT', rowData, $event)"
                (keydown.enter)="onDetail('EDIT', rowData, $event)"
                (keydown.space)="onDetail('EDIT', rowData, $event)"
                [attr.aria-label]="'ACTIONS.EDIT.LABEL' | translate"
                [pTooltip]="'ACTIONS.EDIT.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="pi pi-pencil" aria-hidden="true"></span>
              </a>
              <a
                *ocxIfPermission="'ANNOUNCEMENT#EDIT'"
                tabindex="0"
                class="p-2 text-primary font-medium cursor-pointer border-circle"
                [id]="'am_search_table_row_' + i + '_action_copy'"
                (click)="onDetail('COPY', rowData, $event)"
                (keydown.enter)="onDetail('COPY', rowData, $event)"
                (keydown.space)="onDetail('COPY', rowData, $event)"
                [attr.aria-label]="'ACTIONS.COPY.LABEL' | translate"
                [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="pi pi-copy" aria-hidden="true"></span>
              </a>
              <a
                *ocxIfPermission="'ANNOUNCEMENT#DELETE'"
                tabindex="0"
                class="p-2 danger-action-text font-medium cursor-pointer border-circle"
                [id]="'am_search_table_row_' + i + '_action_delete'"
                (click)="onDelete($event, rowData)"
                (keydown.enter)="onDelete($event, rowData)"
                (keydown.space)="onDelete($event, rowData)"
                [attr.aria-label]="'ACTIONS.DELETE.LABEL' | translate"
                [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span class="pi pi-trash" aria-hidden="true"></span>
              </a>
            </td>
            <td *ngFor="let col of columns" [id]="'am_search_table_row_' + i + '_' + col.field" [class]="col.css">
              <div *ngIf="col.limit" class="text-ellipsis-2-lines max-w-30rem">{{ rowData[col.field] }}</div>
              <div *ngIf="col.isDate && rowData[col.field]" class="max-height-for-2-lines">
                {{ rowData[col.field] | date: dateFormat }}
              </div>
              <ng-container *ngIf="col.isDropdown">
                {{ 'ENUMS.ANNOUNCEMENT_' + col.header + '.' + rowData[col.field] | translate }}
              </ng-container>

              <span
                *ngIf="col.field === 'status'"
                class="pi"
                [class.pi-circle-on]="rowData[col.field] === 'ACTIVE'"
                [class.pi-circle-off]="rowData[col.field] === 'INACTIVE'"
                [class.pi-circle-off]="rowData[col.field] === 'INACTIVE'"
                [class.text-red-600]="rowData['priority'] === 'IMPORTANT'"
                [class.text-yellow-600]="rowData['priority'] === 'NORMAL'"
                [class.text-blue-600]="rowData['priority'] === 'LOW'"
                [attr.aria-label]="'ENUMS.ANNOUNCEMENT_STATUS.' + rowData[col.field] | translate"
                [pTooltip]="
                  ('ENUMS.ANNOUNCEMENT_STATUS.' + rowData[col.field] | translate) +
                  ' - ' +
                  ('ENUMS.ANNOUNCEMENT_PRIORITY.' + rowData['priority'] | translate)
                "
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>
              <span
                *ngIf="col.field === 'type'"
                class="pi text-xl"
                [class.pi-info-circle]="rowData[col.field] === 'INFO'"
                [class.pi-calendar]="rowData[col.field] === 'EVENT'"
                [class.pi-wrench]="rowData[col.field] === 'SYSTEM_MAINTENANCE'"
                [attr.aria-label]="'ENUMS.ANNOUNCEMENT_TYPE.' + rowData[col.field] | translate"
                [pTooltip]="'ENUMS.ANNOUNCEMENT_TYPE.' + rowData[col.field] | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></span>

              <ng-template #displayNameTemplate let-data="data">
                <ng-container *ngIf="!data.name"> {{ data.nameAll }} </ng-container>
                <div
                  *ngIf="data.name"
                  class="text-ellipsis-2-lines max-w-15rem"
                  [pTooltip]="data.displayName ? '' : data.name"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ data.displayName ?? data.nameNotFound }}
                </div>
              </ng-template>

              <ng-container
                *ngIf="col.field === 'workspaceName'"
                [ngTemplateOutlet]="displayNameTemplate"
                [ngTemplateOutletContext]="{
                  $implicit: rowData,
                  data: {
                    name: rowData.workspaceName,
                    displayName: getDisplayName(rowData.workspaceName, metaData.allWorkspaces),
                    nameAll: 'ANNOUNCEMENT.ALL' | translate,
                    nameNotFound: 'ANNOUNCEMENT.NOT_FOUND' | translate,
                  }
                }"
              />
              <ng-container
                *ngIf="col.field === 'productName'"
                [ngTemplateOutlet]="displayNameTemplate"
                [ngTemplateOutletContext]="{
                  $implicit: rowData,
                  data: {
                    name: rowData.productName,
                    displayName: getDisplayName(rowData.productName, metaData.allProducts),
                    nameAll: 'ANNOUNCEMENT.ALL' | translate,
                    notFound: 'ANNOUNCEMENT.NOT_FOUND' | translate,
                    tooltipNotFound: 'ANNOUNCEMENT.ALL' | translate
                  }
                }"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>

      <!-- DELETE -->
      <p-dialog
        [header]="'DIALOG.DETAIL.DELETE.HEADER' | translate"
        [(visible)]="displayDeleteDialog"
        [modal]="true"
        [closable]="true"
        [draggable]="true"
        [resizable]="false"
        [dismissableMask]="true"
      >
        <div *ngIf="item4Delete" class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
          <div class="pi pi-question-circle text-3xl danger-action-text"></div>
          <div class="flex flex-column row-gap-2">
            <div id="am_announcement_delete_message_text" class="font-bold">
              {{ 'ACTIONS.DELETE.MESSAGE.TEXT' | translate }}
            </div>
            <div id="am_announcement_delete_announcement_title" class="px-5 text-center font-bold danger-action-text">
              {{ limitText(item4Delete.title, 50) }}
            </div>
            <div class="px-2 flex flex-column row-gap-1">
              <div *ngIf="item4Delete.status === 'ACTIVE'" class="flex flex-row column-gap-2">
                <div class="w-4 text-right font-bold">{{ 'ANNOUNCEMENT.STATUS' | translate }}:</div>
                <div class="w-8 text-left font-bold danger-action-text" id="am_delete_active">
                  {{ 'ACTIONS.CONFIRMATION.YES' | translate }}
                </div>
              </div>
              <div class="flex flex-row column-gap-2">
                <div class="w-4 text-right font-bold">{{ 'ANNOUNCEMENT.TYPE' | translate }}:</div>
                <div class="w-8 text-left" id="am_delete_type">
                  {{ 'ENUMS.ANNOUNCEMENT_TYPE.' + item4Delete.type | translate }}
                </div>
              </div>
              <div class="flex flex-row column-gap-2">
                <div class="w-4 text-right font-bold">{{ 'ANNOUNCEMENT.WORKSPACE' | translate }}:</div>
                <div class="w-8 text-left white-space-nowrap" id="am_delete_workspace">
                  <ng-container *ngIf="item4Delete.workspaceName">
                    {{ getDisplayName(item4Delete.workspaceName, metaData.allWorkspaces) }}
                  </ng-container>
                  <ng-container *ngIf="!item4Delete.workspaceName"> {{ 'ANNOUNCEMENT.ALL' | translate }} </ng-container>
                </div>
              </div>
              <div class="flex flex-row column-gap-2">
                <div class="w-4 text-right font-bold">{{ 'ANNOUNCEMENT.PRODUCT_NAME' | translate }}:</div>
                <div class="w-8 text-left white-space-nowrap" id="am_delete_product_name">
                  <ng-container *ngIf="item4Delete.productName">
                    {{ getDisplayName(item4Delete.productName, metaData.allProducts) }}
                  </ng-container>
                  <ng-container *ngIf="!item4Delete.productName"> {{ 'ANNOUNCEMENT.ALL' | translate }} </ng-container>
                </div>
              </div>
            </div>

            <div>{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
            <p-button
              id="am_delete_action_no"
              icon="pi pi-times"
              pAutoFocus
              [autofocus]="true"
              (onClick)="displayDeleteDialog = false"
              [label]="'ACTIONS.CONFIRMATION.NO' | translate"
              [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
              [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
            <p-button
              id="am_delete_action_yes"
              icon="pi pi-check"
              (onClick)="onDeleteConfirmation(data)"
              [label]="'ACTIONS.CONFIRMATION.YES' | translate"
              [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
              [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-button>
          </div>
        </ng-template>
      </p-dialog>
    </ng-container>
  </ocx-page-content>

  <!-- DETAIL -->
  <app-announcement-detail
    [displayDialog]="displayDetailDialog"
    (hideDialogAndChanged)="onCloseDetail($event)"
    [announcement]="item4Detail"
    [allWorkspaces]="metaData.allWorkspaces"
    [allProducts]="metaData.allProducts"
    [changeMode]="changeMode"
  ></app-announcement-detail>
</ocx-portal-page>
