<ocx-search-header
  [header]="'DIALOG.SEARCH.HEADER' | translate"
  [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
  (searched)="submitCriteria()"
  (resetted)="resetCriteria()"
  [manualBreadcrumbs]="false"
  [actions]="actions"
>
  <div [formGroup]="announcementCriteria" class="flex flex-wrap gap-3">
    <span class="p-float-label">
      <input
        id="am_announcement_search_criteria_title"
        pInputText
        type="text"
        formControlName="title"
        class="w-9rem sm:w-13rem"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TITLE.CRITERIA' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="am_announcement_search_criteria_title">{{ 'ANNOUNCEMENT.TITLE' | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-calendar
        inputId="announcement_search_criteria_start_date_range"
        styleClass="w-13rem"
        selectionMode="range"
        [readonlyInput]="true"
        formControlName="startDateRange"
        appendTo="body"
        [showButtonBar]="true"
        [showWeek]="true"
        [dateFormat]="dateFormatForRange"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.START_DATE_RANGE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-calendar>
      <label for="am_announcement_search_criteria_start_date_range">
        {{ 'ANNOUNCEMENT.START_DATE_RANGE' | translate }}</label
      >
    </span>
    <span class="p-float-label">
      <p-dropdown
        id="am_announcement_search_criteria_workspace_name"
        styleClass="w-11rem sm:w-13rem"
        [showClear]="true"
        [autoDisplayFirst]="true"
        [appendTo]="'body'"
        [options]="workspaces"
        formControlName="workspaceName"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.WORKSPACE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-dropdown>
      <label for="am_announcement_search_criteria_workspace_name"> {{ 'ANNOUNCEMENT.WORKSPACE' | translate }}</label>
    </span>
    <span class="p-float-label">
      <p-dropdown
        id="am_announcement_search_criteria_product_name"
        styleClass="w-11rem sm:w-13rem"
        [showClear]="true"
        [autoDisplayFirst]="true"
        [appendTo]="'body'"
        [options]="products"
        formControlName="productName"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.APPLICATION' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-dropdown>
      <label for="am_announcement_search_criteria_product_name"> {{ 'ANNOUNCEMENT.APPLICATION' | translate }}</label>
    </span>
    <span *ocxAdvanced class="p-float-label">
      <p-multiSelect
        id="am_announcement_search_criteria_status"
        [options]="(statusOptions$ | async) ?? []"
        formControlName="status"
        appendTo="body"
        [filter]="false"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.STATUS' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-multiSelect>
      <label for="am_announcement_search_criteria_status">{{ 'ANNOUNCEMENT.STATUS' | translate }}</label>
    </span>

    <span *ocxAdvanced class="p-float-label">
      <p-multiSelect
        id="am_announcement_search_criteria_type"
        [options]="(type$ | async) ?? []"
        formControlName="type"
        appendTo="body"
        [filter]="false"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-multiSelect>
      <label for="type">{{ 'ANNOUNCEMENT.TYPE' | translate }}</label>
    </span>

    <span *ocxAdvanced class="p-float-label">
      <p-multiSelect
        id="am_announcement_search_criteria_priority"
        [options]="(priorityType$ | async) ?? []"
        formControlName="priority"
        appendTo="body"
        [filter]="false"
        [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PRIORITY' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-multiSelect>
      <label for="am_announcement_search_criteria_priority">{{ 'ANNOUNCEMENT.PRIORITY' | translate }}</label>
    </span>
  </div>
</ocx-search-header>
