<p-dialog
  [header]="'DIALOG.DETAIL.' + changeMode + '.HEADER' | translate"
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '650px' }"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <!-- display status/type/priority on dialog header -->
  <div id="am_detail_header_preview" class="absolute sm:dialog-header-right-slot flex flex-row">
    <div
      id="am_detail_header_preview_priority"
      class="p-2 pi text-xl border-round hidden sm:block"
      [class.pi-circle-on]="preview.status === 'ACTIVE'"
      [class.pi-circle-off]="preview.status === 'INACTIVE'"
      [class.pi-circle-off]="preview.status === 'INACTIVE'"
      [class.text-red-600]="preview.priority === 'IMPORTANT'"
      [class.text-yellow-600]="preview.priority === 'NORMAL'"
      [class.text-blue-600]="preview.priority === 'LOW'"
      [pTooltip]="
        ('ENUMS.ANNOUNCEMENT_STATUS.' + preview.status | translate) +
        ' - ' +
        ('ENUMS.ANNOUNCEMENT_PRIORITY.' + preview.priority | translate)
      "
      tooltipPosition="top"
      tooltipEvent="hover"
    ></div>
    <div
      id="am_detail_header_preview_type"
      class="p-2 pi text-xl border-round hidden sm:block"
      [class.pi-info-circle]="preview.type === 'INFO'"
      [class.pi-calendar]="preview.type === 'EVENT'"
      [class.pi-wrench]="preview.type === 'SYSTEM_MAINTENANCE'"
      [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></div>
  </div>

  <p-message
    *ngIf="exceptionKey"
    id="am_detail_message_error"
    severity="error"
    [text]="exceptionKey | translate"
  ></p-message>

  <p-tabView *ngIf="!exceptionKey" [formGroup]="formGroup" errorTailor>
    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.CONTENT' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.CONTENT' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="flex flex-wrap flex-column justify-content-between row-gap-3 sm:row-gap-4 mt-2">
        <div class="w-full relative">
          <p-badge
            *ngIf="changeMode !== 'VIEW'"
            severity="primary"
            [value]="255 - announcementTitle.value.length"
            class="z-1 text-badge-right"
            [attr.aria-label]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <span class="p-float-label" controlErrorAnchor>
            <textarea
              #announcementTitle
              pInputTextarea
              id="am_detail_form_title"
              type="text"
              style="min-height: 3rem"
              class="w-full textarea-sm"
              formControlName="title"
              rows="3"
              appendTo="body"
              [ariaLabel]="'ANNOUNCEMENT.TITLE' | translate"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TITLE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></textarea>
            <label class="ocx-required-label" for="am_detail_form_title">
              {{ 'ANNOUNCEMENT.TITLE' | translate }}
            </label>
          </span>
        </div>

        <div class="w-full relative">
          <p-badge
            *ngIf="changeMode !== 'VIEW'"
            severity="primary"
            [value]="1000 - announcementContent.value.length"
            class="z-1 text-badge-right"
            [attr.aria-label]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CHARACTERS' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
          <span class="p-float-label" controlErrorAnchor>
            <textarea
              #announcementContent
              pInputTextarea
              id="am_detail_form_content"
              class="w-full textarea-md"
              formControlName="content"
              rows="8"
              appendTo="body"
              [ariaLabel]="'ANNOUNCEMENT.CONTENT' | translate"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CONTENT' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></textarea>
            <label for="am_detail_form_content">{{ 'ANNOUNCEMENT.CONTENT' | translate }}</label>
          </span>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.PROPS' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.PROPS' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="flex flex-wrap flex-column justify-content-between row-gap-3">
        <p-fieldset
          [toggleable]="false"
          [collapsed]="false"
          styleClass="surface-100 pb-3 px-2"
          [style]="{ 'margin-top': '-0.5rem' }"
        >
          <ng-template pTemplate="header">{{ 'DIALOG.DETAIL.TAB.ACTIVATION' | translate }} </ng-template>
          <div class="w-full flex flex-column sm:flex-row row-gap-3 sm:row-gap-4 sm:justify-content-between">
            <div class="py-0 px-0">
              <div>
                <span class="p-float-label" controlErrorAnchor>
                  <p-calendar
                    inputId="am_detail_form_start_date"
                    type="text"
                    formControlName="startDate"
                    styleClass="w-15rem"
                    todayButtonStyleClass="calender-today"
                    [dateFormat]="dateFormat"
                    [hourFormat]="timeFormat"
                    [showClear]="false"
                    [showTime]="true"
                    [showWeek]="true"
                    [showIcon]="true"
                    [showOnFocus]="false"
                    appendTo="body"
                    aria-labelledby="am_detail_form_start_date"
                    [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.START_DATE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></p-calendar>
                  <label class="ocx-required-label" for="am_detail_form_start_date">
                    {{ 'ANNOUNCEMENT.START_DATE' | translate }}
                  </label>
                </span>
              </div>
            </div>
            <div class="">
              <div>
                <span class="p-float-label" controlErrorAnchor>
                  <p-calendar
                    inputId="am_detail_form_end_date"
                    type="text"
                    formControlName="endDate"
                    styleClass="w-15rem"
                    todayButtonStyleClass="calender-today"
                    [dateFormat]="dateFormat"
                    [hourFormat]="timeFormat"
                    [showClear]="true"
                    [showTime]="true"
                    [showWeek]="true"
                    [showIcon]="true"
                    [showOnFocus]="false"
                    appendTo="body"
                    [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.END_DATE' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  ></p-calendar>
                  <label for="am_detail_form_end_date">{{ 'ANNOUNCEMENT.END_DATE' | translate }}</label>
                </span>
              </div>
            </div>
            <div class="mr-4 flex flex-column justify-content-center sm:align-items-center row-gap-1">
              <p-inputSwitch
                inputId="am_detail_form_status"
                class="input-switch-xl"
                formControlName="status"
                trueValue="ACTIVE"
                falseValue="INACTIVE"
                (onChange)="onChangeAnnouncementStatus($event)"
                [ariaLabel]="'ANNOUNCEMENT.STATUS' | translate"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.STATUS' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-inputSwitch>
              <label class="text-sm float-label" for="am_detail_form_status">
                {{ 'ENUMS.ANNOUNCEMENT_STATUS.' + formGroup.controls['status'].value | translate }}
              </label>
            </div>
            <label
              *ngIf="
                formGroup.controls['startDate'].errors?.hasOwnProperty('invalidDateRange') ||
                formGroup.controls['endDate'].errors?.hasOwnProperty('invalidDateRange')
              "
              class="col-12 py-0 ml-1 sm:pl-3 control-error"
              for="am_detail_form_start_date"
            >
              {{ 'VALIDATION.ERRORS.INVALID_DATE_RANGE' | translate }}
            </label>
          </div>
        </p-fieldset>

        <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="surface-100 pb-3 px-2">
          <ng-template pTemplate="header">{{ 'DIALOG.DETAIL.TAB.VISIBILITY' | translate }} </ng-template>
          <div
            class="w-full flex flex-column sm:flex-row sm:justify-content-between row-gap-3 sm:row-gap-4 column-gap-5"
          >
            <span class="p-float-label w-full max-w-20rem">
              <p-dropdown
                #workspaceName
                id="am_detail_form_workspace_name"
                class="input-field"
                styleClass="w-full max-w-20rem text-responsive"
                formControlName="workspaceName"
                [options]="allWorkspaces"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="true"
                [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                ariaLabelledBy="am_detail_form_workspace_name"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.WORKSPACE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label for="am_detail_form_workspace_name">{{ 'ANNOUNCEMENT.WORKSPACE' | translate }} </label>
            </span>

            <span class="p-float-label w-full max-w-20rem">
              <p-dropdown
                id="am_detail_form_application_name"
                class="input-field"
                styleClass="w-full max-w-20rem text-responsive"
                formControlName="productName"
                [options]="allProducts"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="true"
                [emptyMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
                ariaLabelledBy="am_detail_form_application_name"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label for="am_detail_form_application_name">{{ 'ANNOUNCEMENT.PRODUCT_NAME' | translate }} </label>
            </span>
          </div>
        </p-fieldset>

        <p-fieldset [toggleable]="false" [collapsed]="false" styleClass="surface-100 pb-3 px-2">
          <ng-template pTemplate="header">{{ 'DIALOG.DETAIL.TAB.CLASSIFICATION' | translate }} </ng-template>
          <div
            class="w-full flex flex-column row-gap-2 sm:flex-row sm:justify-content-evenly sm:align-items-end"
            style="margin-top: -1rem"
          >
            <div class="p-0 md:text-right flex flex-column md:justify-content-end">
              <label class="float-label mb-1 text-sm font-medium" for="am_detail_form_priority"
                >{{ 'ANNOUNCEMENT.PRIORITY' | translate }}
              </label>
              <p-selectButton
                #announcmentPriority
                id="am_detail_form_priority"
                formControlName="priority"
                [options]="(priorityOptions$ | async) ?? []"
                (onChange)="onChangeAnnouncementPriority($event)"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PRIORITY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-selectButton>
            </div>
            <span
              id="am_detail_preview_icon"
              class="p-2 pi text-xl border-round hidden sm:block"
              [class.pi-info-circle]="announcmentType.value === 'INFO'"
              [class.pi-calendar]="announcmentType.value === 'EVENT'"
              [class.pi-wrench]="announcmentType.value === 'SYSTEM_MAINTENANCE'"
              [class.bg-red-100]="announcmentPriority.value === 'IMPORTANT'"
              [class.bg-yellow-100]="announcmentPriority.value === 'NORMAL'"
              [class.bg-blue-100]="announcmentPriority.value === 'LOW'"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PREVIEW.ICON' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></span>
            <div class="p-0 flex flex-column">
              <label class="float-label mb-1 text-sm font-medium" for="am_detail_form_type">
                {{ 'ANNOUNCEMENT.TYPE' | translate }}
              </label>
              <p-selectButton
                #announcmentType
                id="am_detail_form_type"
                formControlName="type"
                [options]="(typeOptions$ | async) ?? []"
                (onChange)="onChangeAnnouncementType($event)"
                [ariaLabel]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-selectButton>
            </div>
          </div>
        </p-fieldset>
      </div>
    </p-tabPanel>

    <!-- The internals - in case of an existing item only -->
    <p-tabPanel
      *ngIf="!['COPY', 'CREATE'].includes(changeMode)"
      [header]="'DIALOG.DETAIL.TAB.INTERN' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.INTERN' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 flex flex-column row-gap-4">
        <!-- row 1 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_creation_date"
              class="w-full sm:w-15rem pt-3 pb-2 text-responsive"
              [value]="announcement?.creationDate ? (announcement?.creationDate | date: datetimeFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_creation_user"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="announcement?.creationUser"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
          </span>
        </div>

        <!-- row 2 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_modification_date"
              class="w-full sm:w-15rem pt-3 pb-2"
              [value]="announcement?.modificationDate ? (announcement?.modificationDate | date: datetimeFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_modification_date">
              {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
            </label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_modification_user"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="announcement?.modificationUser"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_modification_user">
              {{ 'INTERNAL.MODIFICATION_USER' | translate }}
            </label>
          </span>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        *ngIf="exceptionKey || changeMode === 'VIEW'"
        id="am_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!(exceptionKey || changeMode === 'VIEW')"
        id="am_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!(exceptionKey || changeMode === 'VIEW')"
        id="am_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [disabled]="!formGroup.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
