@import '/src/app/_am-mixins.scss';

@include text-badges;
@include displaying-text-responsive;
@include correct-select-button;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include tabview-reduce-padding;
@include tabview-fix-color-selected-tab;

:host ::ng-deep {
  --input-switch-handle-off-bg: red;

  label.float-label {
    color: var(--emphasis-medium);
  }
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
  .p-calendar {
    .calender-today {
      border-color: var(--primary-color);
    }
    .p-calendar-clear-icon {
      right: 40px;
    }
  }
  .p-inputtextarea {
    &.textarea-sm {
      min-height: 2rem;
    }
    &.textarea-md {
      min-height: 3rem;
    }
  }
  .p-inputtextarea-resizable {
    resize: vertical;
  }
  .input-switch-xl {
    .p-inputswitch {
      height: 1rem;
      width: 3rem;
      &.p-inputswitch-checked {
        .p-inputswitch-slider::before {
          transform: translateX(1.7rem);
        }
      }
      .p-inputswitch-slider::before {
        width: 1.6rem;
        height: 1.6rem;
        margin-top: -0.8rem;
      }
    }
  }

  .p-fieldset {
    &.p-fieldset-toggleable .p-fieldset-legend a,
    .p-fieldset-legend {
      background-color: transparent;
      padding: 0.3rem 0.4rem;
    }
    .p-fieldset-content {
      padding: 0.5rem 0.2rem 0rem;
    }
  }

  @media screen and (min-width: 576px) {
    .sm\:dialog-header-right-slot {
      top: 1.1rem;
      right: 5rem;
      font-weight: var(--dialog-header-font-weight); // same as dialog-title
      font-size: var(--dialog-header-font-size);
    }
  }
}
