<p-dialog
  header="{{ (this.changeMode === 'EDIT' ? 'ACTIONS.EDIT.ANNOUNCEMENT' : 'ACTIONS.CREATE.ANNOUNCEMENT') | translate }}"
  [(visible)]="displayDetailDialog"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
  [draggable]="true"
  [resizable]="true"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '600px' }"
  [showHeader]="true"
  [breakpoints]="{
    '992px': '65vw',
    '700px': '80vw',
    '600px': '90vw',
    '500px': '100vw',
      }"
>
  <form [formGroup]="formGroup" errorTailor>
    <div class="flex flex-wrap flex-column justify-content-between row-gap-3 sm:row-gap-4 mt-1">
      <div class="flex flex-wrap align-items-center justify-content-between">
        <div class="w-12">
          <span class="p-float-label" controlErrorAnchor>
            <textarea
              pInputTextarea
              id="announcement_detail_form_title"
              type="text"
              style="min-height: 2.5rem"
              class="w-full textarea-sm"
              formControlName="title"
              rows="1"
              [autoResize]="true"
              appendTo="body"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TITLE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></textarea>
            <label class="ocx-required-label" for="announcement_detail_form_title">
              {{ 'ANNOUNCEMENT.TITLE' | translate }}
            </label>
          </span>
        </div>
      </div>
      <div class="w-full">
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            pInputTextarea
            id="announcement_detail_form_content"
            class="w-full textarea-md"
            formControlName="content"
            rows="3"
            [autoResize]="true"
            appendTo="body"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.CONTENT' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></textarea>
          <label for="announcement_detail_form_content">{{ 'ANNOUNCEMENT.CONTENT' | translate }}</label>
        </span>
      </div>

      <div class="w-full">
        <span class="p-float-label">
          <p-dropdown
            id="announcement_detail_form_workspace_name"
            class="input-field"
            styleClass="w-full"
            [options]="allWorkspaces"
            [autoDisplayFirst]="true"
            [appendTo]="'body'"
            formControlName="workspaceName"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.WORKSPACE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label for="announcement_detail_form_workspace_name"> {{ 'ANNOUNCEMENT.WORKSPACE' | translate }} </label>
        </span>
      </div>

      <div class="w-full">
        <span class="p-float-label">
          <p-dropdown
            id="announcement_detail_form_application_name"
            class="input-field"
            styleClass="w-full"
            [options]="allProducts"
            [autoDisplayFirst]="true"
            [appendTo]="'body'"
            formControlName="productName"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.APPLICATION' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </p-dropdown>
          <label for="announcement_detail_form_application_name"> {{ 'ANNOUNCEMENT.APPLICATION' | translate }} </label>
        </span>
      </div>

      <div class="grid grid-nogutter col-12 row-gap-3 sm:row-gap-1 pb-0">
        <div class="col-12 sm:col-5 py-0 px-0 sm:pr-3 md:text-right flex sm:justify-content-end">
          <div>
            <span class="p-float-label" controlErrorAnchor>
              <p-calendar
                id="announcement_detail_form_startDate"
                type="text"
                formControlName="startDate"
                styleClass="w-15rem"
                todayButtonStyleClass="calender-today"
                [dateFormat]="dateFormat"
                [hourFormat]="timeFormat"
                [minDate]="today"
                [showClear]="false"
                [showTime]="true"
                [showWeek]="true"
                [showIcon]="true"
                [showOnFocus]="false"
                ariaLabelledBy="date-from-label"
                appendTo="body"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.START_DATE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-calendar>
              <label class="ocx-required-label" for="announcement_detail_form_startDate">
                {{ 'ANNOUNCEMENT.START_DATE' | translate }}
              </label>
            </span>
          </div>
        </div>
        <div class="col-12 sm:col-5 p-0 sm:pl-3">
          <div>
            <span class="p-float-label" controlErrorAnchor>
              <p-calendar
                id="announcement_detail_form_endDate"
                type="text"
                formControlName="endDate"
                styleClass="w-15rem"
                todayButtonStyleClass="calender-today"
                [dateFormat]="dateFormat"
                [hourFormat]="timeFormat"
                [minDate]="today"
                [showClear]="true"
                [showTime]="true"
                [showWeek]="true"
                [showIcon]="true"
                [showOnFocus]="false"
                ariaLabelledBy="date-from-label"
                appendTo="body"
                [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.END_DATE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-calendar>
              <label for="announcement_detail_form_endDate">{{ 'ANNOUNCEMENT.END_DATE' | translate }}</label>
            </span>
          </div>
        </div>
        <div class="col-6 sm:col-2 py-0 sm:pl-4">
          <div class="w-1 flex flex-column row-gap-2 mr-2">
            <p-inputSwitch
              id="announcement_detail_form_status"
              class="input-switch-xl"
              formControlName="status"
              trueValue="ACTIVE"
              falseValue="INACTIVE"
              [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.STATUS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            ></p-inputSwitch>
            <label class="text-xs text-center float-label mr-2" for="announcement_detail_form_status">
              {{ 'ENUMS.ANNOUNCEMENT_STATUS.' + formGroup.controls['status'].value | translate }}
            </label>
          </div>
        </div>
        <label
          *ngIf="
            formGroup.controls['startDate'].errors?.hasOwnProperty('invalidDateRange') ||
            formGroup.controls['endDate'].errors?.hasOwnProperty('invalidDateRange')
          "
          class="col-12 py-0 ml-1 sm:pl-3 control-error"
          for="announcement_detail_form_start_date"
        >
          {{ 'VALIDATION.ERRORS.INVALID_DATE_RANGE' | translate }}
        </label>
      </div>

      <div class="grid grid-nogutter col-12 row-gap-2 pt-0">
        <div class="col-12 md:col-5 py-0 px-0 md:pr-3 md:text-right flex flex-column md:justify-content-end">
          <label class="float-label my-1 text-sm font-medium" for="announcement_detail_form_priority"
            >{{ 'ANNOUNCEMENT.PRIORITY' | translate }}
          </label>
          <p-selectButton
            id="announcement_detail_form_priority"
            formControlName="priority"
            [options]="(priorityOptions$ | async) ?? []"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.PRIORITY' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-selectButton>
        </div>
        <div class="col-12 md:col-7 flex flex-column p-0 md:pl-3">
          <label class="float-label my-1 text-sm font-medium" for="announcement_detail_form_type">
            {{ 'ANNOUNCEMENT.TYPE' | translate }}
          </label>
          <p-selectButton
            id="announcement_detail_form_type"
            formControlName="type"
            [options]="(typeOptions$ | async) ?? []"
            [pTooltip]="'ANNOUNCEMENT.TOOLTIPS.TYPE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-selectButton>
        </div>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="announcement_detail_button_cancel"
        icon="pi pi-times"
        [label]="'GENERAL.CANCEL' | translate"
        (onClick)="onDialogHide()"
        [pTooltip]="'GENERAL.TOOLTIPS.CANCEL' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="announcement_detail_button_save"
        icon="pi pi-save"
        [label]="'GENERAL.SAVE' | translate"
        (onClick)="onSave()"
        [disabled]="!formGroup.valid"
        [pTooltip]="'GENERAL.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
