<ng-container *ngIf="announcements$ | async as announcements">
  <div *ngIf="announcements.length > 0" class="card surface-200">
    <div class="mb-3 sm:mb-4 font-medium text-lg">{{ 'ANNOUNCEMENT.LIST-ACTIVE.TITLE' | translate }}</div>
    <div class="px-1 flex flex-column row-gap-2 max-h-20rem overflow-x-hidden overflow-y-auto">
      <a
        *ngFor="let announcement of announcements; let i = index"
        class="announcement-row block flex flex-row flex-nowrap justify-content-start align-items-center column-gap-3 border-none border-bottom-1 border-solid border-gray-400 cursor-pointer"
        (click)="detailDialog.toggle($event)"
        #overlayTarget
      >
        <div class="font-bold" aria-hidden="true">
          <div
            [id]="'am_list_active_data_row_' + i + '_icon'"
            class="pi text-base md:text-xl"
            [class.pi-info-circle]="announcement.type === 'INFO'"
            [class.pi-calendar]="announcement.type === 'EVENT'"
            [class.pi-wrench]="announcement.type === 'SYSTEM_MAINTENANCE'"
            [class.text-red-800]="announcement.priority === 'IMPORTANT'"
            [class.text-yellow-800]="announcement.priority === 'NORMAL'"
            [class.text-blue-800]="announcement.priority === 'LOW'"
          ></div>
        </div>
        <div class="mb-2 w-11 flex flex-column row-gap-1">
          <div
            [id]="'am_list_active_data_row_' + i + '_title'"
            class="text-sm sm:text-base md:text-md font-bold white-space-nowrap overflow-hidden text-overflow-ellipsis"
          >
            {{ announcement.title }}
          </div>
          <div
            [id]="'am_list_active_data_row_' + i + '_content'"
            class="text-xs sm:text-sm white-space-nowrap overflow-hidden text-overflow-ellipsis"
          >
            {{ announcement.content }}
          </div>
        </div>
        <!-- DETAIL
           is located here due to use the same data => is absolute displayed ! -->
        <p-overlayPanel
          #detailDialog
          [appendTo]="overlayTarget"
          [dismissable]="true"
          [showCloseIcon]="false"
          styleClass="sm:m-0 w-11 sm:max-w-28rem md:max-w-30rem lg:max-w-40rem announcement-overlay-position"
        >
          <div class="flex flex-column">
            <div
              class="p-2 sm:p-3 border-round-top border-noround-bottom flex flex-row column-gap-3 align-items-center"
              [class.bg-red-200]="announcement.priority === 'IMPORTANT'"
              [class.bg-yellow-200]="announcement.priority === 'NORMAL'"
              [class.bg-blue-200]="announcement.priority === 'LOW'"
            >
              <div
                [id]="'am_list_active_data_row_' + i + '_detail_icon'"
                class="pi text-base sm:text-lg md:text-xl"
                [class.pi-info-circle]="announcement.type === 'INFO'"
                [class.pi-calendar]="announcement.type === 'EVENT'"
                [class.pi-wrench]="announcement.type === 'SYSTEM_MAINTENANCE'"
                [class.bg-red-200]="announcement.priority === 'IMPORTANT'"
                [class.bg-yellow-200]="announcement.priority === 'NORMAL'"
                [class.bg-blue-200]="announcement.priority === 'LOW'"
              ></div>
              <div [id]="'am_list_active_data_row_' + i + '_detail_title'" class="text-sm sm:text-base font-bold">
                {{ announcement.title }}
              </div>
            </div>
            <div
              [id]="'am_list_active_data_row_' + i + '_detail_content'"
              class="py-2 px-3 text-xs sm:text-sm md:text-base"
              [innerHTML]="convertLineBreaks(announcement.content)"
            ></div>
          </div>
        </p-overlayPanel>
      </a>
    </div>
  </div>
</ng-container>
