<ng-container *ngIf="announcements$ | async as items">
  <p-carousel
    styleClass="mt-2 sm:mt-3 mb-0"
    [value]="items"
    [numVisible]="1"
    [numScroll]="1"
    [orientation]="'horizontal'"
    [showIndicators]="false"
    [style.zIndex]="990"
  >
    <ng-template let-item #item>
      <div
        class="p-2 border-round flex flex-row justify-content-between align-items-center"
        [ngClass]="
          item.priority === 'IMPORTANT'
            ? 'bg-red-100 text-red-800 border-red-600'
            : item.priority === 'NORMAL'
              ? 'bg-yellow-200 text-yellow-800 border-yellow-600'
              : item.priority === 'LOW'
                ? 'bg-blue-100 text-blue-800 border-blue-600'
                : 'bg-green-200 text-green-800 border-green-600'
        "
      >
        <div class="flex flex-row align-items-center column-gap-2">
          <span
            id="am_announcement_banner_icon"
            class="px-1 sm:px-3 pi text-xl"
            [class.pi-info-circle]="item.type === 'INFO'"
            [class.pi-calendar]="item.type === 'EVENT'"
            [class.pi-wrench]="item.type === 'SYSTEM_MAINTENANCE'"
            [attr.aria-label]="('ANNOUNCEMENT.PRIORITY' | translate) + ': ' + item.priority"
            [pTooltip]="
              ('ANNOUNCEMENT.PRIORITY' | translate) +
              ': ' +
              item.priority +
              (item.workspaceName ? ', ' + ('ANNOUNCEMENT.WORKSPACE' | translate) + ': ' + item.workspaceName : '') +
              (item.productName ? ', ' + ('ANNOUNCEMENT.APPLICATION' | translate) + ': ' + item.productName : '')
            "
            tooltipPosition="top"
            tooltipEvent="hover"
          ></span>
          <div class="flex flex-column row-gap-1">
            <div id="am_announcement_banner_title" class="font-bold">{{ item.title }}</div>
            <div id="am_announcement_banner_content" [innerHTML]="convertLineBreaks(item.content)"></div>
          </div>
        </div>

        <p-button
          id="am_announcement_banner_action_close"
          size="large"
          [rounded]="true"
          [text]="true"
          icon="pi pi-times"
          [class.text-red-800]="item.priority === 'IMPORTANT'"
          [class.text-yellow-800]="item.priority === 'NORMAL'"
          [class.text-blue-800]="item.priority === 'LOW'"
          (click)="hide(item.id!)"
          [attr.aria-label]="'ANNOUNCEMENT.BANNER.CLOSE' | translate"
          [pTooltip]="'ANNOUNCEMENT.BANNER.CLOSE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-button>
      </div>
    </ng-template>
  </p-carousel>
</ng-container>
