// correct item dimension: each item has its own height
:host ::ng-deep {
  .p-carousel-item:not(.p-carousel-item-active) {
    max-height: 0;
  }
  .p-carousel-item.p-carousel-item-active {
    max-height: 100%;
  }
  .p-carousel-prev:focus,
  .p-carousel-next:focus {
    outline: revert !important;
  }
}
