:host ::ng-deep {
  .announcement-banner-carousel.p-carousel .p-carousel-content,
  .announcement-banner-carousel.p-carousel-vertical .p-carousel-content {
    display: flex;
    flex-direction: row !important;
    align-items: center;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-viewport {
    overflow: hidden;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-item-list,
  .announcement-banner-carousel.p-carousel-vertical .p-carousel-item-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    align-items: stretch;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-item,
  .announcement-banner-carousel.p-carousel .p-carousel-item-clone {
    flex: 0 0 100% !important;
    width: 100% !important;
    max-width: 100% !important;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-prev-button,
  .announcement-banner-carousel.p-carousel .p-carousel-next-button {
    align-self: center;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-prev-button {
    order: 0;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-viewport {
    order: 1;
    flex: 1 1 auto;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-next-button {
    order: 2;
  }

  .announcement-banner-carousel.p-carousel .p-carousel-prev-button:focus,
  .announcement-banner-carousel.p-carousel .p-carousel-next-button:focus {
    outline: revert !important;
  }
}
